[submodule "refer/ISL-python"]
	path = refer/ISL-python
	url = https://github.com/emredjan/ISL-python.git
[submodule "refer/ISLR-python"]
	path = refer/ISLR-python
	url = https://github.com/JWarmenhoven/ISLR-python.git
[submodule "refer/wdteo_ISL-python"]
	path = refer/wdteo_ISL-python
	url = https://github.com/wdteo/ISL-python.git
[submodule "refer/ESL"]
	path = refer/ESL
	url = https://github.com/dgkim5360/the-elements-of-statistical-learning-notebooks.git
[submodule "refer/ESL-Model"]
	path = refer/ESL-Model
	url = https://github.com/littlezz/ESL-Model.git
